In [84]:
import csv
import numpy as np
import datetime
import pandas as pd
import datetime

columns=['St_date','Exp_date','Strike_price','Best_bid','Best_offer','Imp_vol','Volume','Moneyness']
df_options = pd.DataFrame(index=range(1,no_options), columns=columns)

In [107]:
from datetime import datetime
fields = ['St_date','Exp_date','Strike_price','Best_bid','Best_offer','Imp_vol','Volume']

df = pd.read_csv('./Datasets/option_data.csv', skipinitialspace=True, usecols=fields)

df['St_date'] = pd.to_datetime(df['St_date'], format='%m/%d/%y', utc=True)
df['Exp_date'] = pd.to_datetime(df['Exp_date'], format='%m/%d/%y', utc=True)

,St_date,Exp_date,Strike_price,Best_bid,Best_offer,Volume,Imp_vol
0,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1000000,0.10,0.15,6949,0.418364
1,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1005000,0.05,0.70,0,0.465742
2,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1010000,0.10,0.35,5,0.429535
3,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1015000,0.10,0.55,1852,0.440261
4,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1020000,0.10,0.35,0,0.412973
5,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1025000,0.15,0.20,167,0.393247
6,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1030000,0.10,0.30,46,0.391127
7,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1035000,0.10,0.25,0,0.377235
8,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1040000,0.10,0.30,54,0.374963
9,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1045000,0.15,0.35,100,0.376765
10,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1050000,0.20,0.25,1148,0.363923
11,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1055000,0.15,0.30,0,0.355833
12,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1060000,0.15,0.30,15,0.347766
13,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1065000,0.15,0.30,17,0.339722
14,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1070000,0.20,0.30,305,0.336004
15,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1075000,0.20,0.30,1831,0.327916
16,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1080000,0.25,0.40,316,0.330755
17,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1085000,0.25,0.45,7,0.325667
18,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1090000,0.25,0.45,753,0.317349
19,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1095000,0.30,0.45,6,0.311956
20,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1100000,0.35,0.40,2769,0.303607
21,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1105000,0.35,0.50,29,0.300492
22,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1110000,0.45,0.60,725,0.301188
23,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1115000,0.45,0.65,32,0.294614
24,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1120000,0.50,0.65,1179,0.287898
25,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1125000,0.55,0.65,724,0.281047
26,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1130000,0.50,0.90,387,0.279108
27,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1135000,0.55,1.15,18,0.279144
28,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1140000,0.60,0.80,50,0.261303
29,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1145000,0.60,1.25,1864,0.264811
...,...,...,...,...,...,...,...
1048545,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1915000,101.60,104.80,0,0.119338
1048546,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1920000,106.50,109.70,0,0.122680
1048547,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1925000,111.00,114.20,0,0.122412
1048548,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1930000,115.90,119.00,0,0.125003
1048549,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1935000,120.90,124.10,0,0.129402
1048550,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1940000,125.60,128.70,0,0.129821
1048551,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1950000,135.60,138.70,0,0.137385
1048552,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1975000,160.30,163.40,0,0.152251
1048553,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,2000000,184.90,188.00,0,0.164350
1048554,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,2025000,209.80,212.80,0,0.178648
1048555,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,2050000,234.70,237.80,0,0.193799
1048556,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,2075000,259.90,262.90,0,0.211880
1048557,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,2100000,284.60,287.60,0,0.221658
1048558,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,400000,0.00,0.25,0,1.376281
1048559,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,500000,0.00,0.45,0,1.239528
1048560,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,600000,0.00,0.45,0,1.069744
1048561,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,700000,0.00,0.45,0,0.926701
1048562,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,750000,0.00,0.45,0,0.862754
1048563,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,800000,0.00,0.45,0,0.802942
1048564,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,850000,0.00,0.50,0,0.754270
1048565,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,900000,0.00,0.50,0,0.700747
1048566,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,925000,0.00,0.50,0,0.675067
1048567,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,950000,0.00,0.50,0,0.650053
1048568,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,975000,0.00,0.50,0,0.625666
1048569,2014-02-11 00:00:00+00:00,2014-06-30 00:00:00+00:00,1000000,0.05,0.90,0,0.373197
1048570,2014-02-11 00:00:00+00:00,2014-06-30 00:00:00+00:00,1025000,0.10,1.00,0,0.364692
1048571,2014-02-11 00:00:00+00:00,2014-06-30 00:00:00+00:00,1050000,0.25,1.10,0,0.358772
1048572,2014-02-11 00:00:00+00:00,2014-06-30 00:00:00+00:00,1075000,0.35,1.25,0,0.351595
1048573,2014-02-11 00:00:00+00:00,2014-06-30 00:00:00+00:00,1100000,0.45,1.40,0,0.343521
1048574,2014-02-11 00:00:00+00:00,2014-06-30 00:00:00+00:00,1125000,0.65,1.55,0,0.336806

In [74]:
#df=df.sort_values(by=['St_date'])
sLength = len(df['St_date'])
df.loc[:,'Moneyness'] = pd.Series(np.random.randn(sLength), index=df.index)
for row in df.itertuples(index=True, name='Pandas'):
    i=getattr(row, "Index")
    K=getattr(row, "Strike_price"))
    df.loc[i, 'exp']=X

In [104]:
df.loc[:,'Tenor']=df.loc[:,'Exp_date']-df.loc[:,'St_date']
df=df.loc[df['Volume']>0]
short_dated=df.loc[df['Exp_date']-df['St_date']<datetime.timedelta(0, 1)]
df=df.loc[df['Best_offer']/df['Best_bid']<5]
df

,St_date,Exp_date,Strike_price,Best_bid,Best_offer,Volume,Imp_vol,Moneyness,Tenor
0,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1000000,0.10,0.15,6949,0.418364,0.144358,19 days
2,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1010000,0.10,0.35,5,0.429535,-0.343487,19 days
5,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1025000,0.15,0.20,167,0.393247,-0.394970,19 days
6,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1030000,0.10,0.30,46,0.391127,-0.381311,19 days
8,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1040000,0.10,0.30,54,0.374963,-0.376851,19 days
13,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1065000,0.15,0.30,17,0.339722,0.402858,19 days
9,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1045000,0.15,0.35,100,0.376765,-0.463159,19 days
10,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1050000,0.20,0.25,1148,0.363923,0.958049,19 days
12,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1060000,0.15,0.30,15,0.347766,-2.045161,19 days
14,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1070000,0.20,0.30,305,0.336004,-0.251803,19 days
15,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1075000,0.20,0.30,1831,0.327916,-0.294533,19 days
16,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1080000,0.25,0.40,316,0.330755,0.248386,19 days
17,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1085000,0.25,0.45,7,0.325667,0.844310,19 days
18,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1090000,0.25,0.45,753,0.317349,1.986242,19 days
19,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1095000,0.30,0.45,6,0.311956,1.413418,19 days
20,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1100000,0.35,0.40,2769,0.303607,0.973313,19 days
21,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1105000,0.35,0.50,29,0.300492,-0.858256,19 days
22,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1110000,0.45,0.60,725,0.301188,1.825878,19 days
27,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1135000,0.55,1.15,18,0.279144,1.738868,19 days
23,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1115000,0.45,0.65,32,0.294614,1.875910,19 days
24,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1120000,0.50,0.65,1179,0.287898,-1.570316,19 days
30,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1150000,0.70,0.90,2414,0.249122,0.784616,19 days
31,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1155000,0.75,1.40,14,0.253276,-0.278790,19 days
32,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1160000,0.85,1.00,268,0.237113,-0.428571,19 days
33,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1165000,0.90,1.15,76,0.232286,0.823582,19 days
34,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1170000,0.95,1.25,1506,0.225956,-0.437907,19 days
35,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1175000,1.10,1.40,14514,0.222076,0.640499,19 days
36,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1180000,1.30,1.60,2732,0.219115,-0.539947,19 days
37,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1185000,1.10,2.20,173,0.215239,-1.541122,19 days
38,2011-01-03 00:00:00+00:00,2011-01-22 00:00:00+00:00,1190000,1.30,2.00,541,0.205053,1.204499,19 days
...,...,...,...,...,...,...,...,...,...
1048377,2014-02-11 00:00:00+00:00,2016-12-16 00:00:00+00:00,100000,0.05,0.10,6,0.539484,-0.738843,1039 days
1048410,2014-02-11 00:00:00+00:00,2016-12-16 00:00:00+00:00,1800000,228.20,238.00,175,0.183379,-1.214949,1039 days
1048416,2014-02-11 00:00:00+00:00,2016-12-16 00:00:00+00:00,1950000,305.30,317.30,200,0.169809,1.345948,1039 days
1048418,2014-02-11 00:00:00+00:00,2016-12-16 00:00:00+00:00,200000,0.15,0.20,112,0.435461,-1.729799,1039 days
1048436,2014-02-11 00:00:00+00:00,2016-12-16 00:00:00+00:00,600000,5.00,6.10,100,0.330851,0.299120,1039 days
1048434,2014-02-11 00:00:00+00:00,2016-12-16 00:00:00+00:00,500000,1.50,3.00,10,0.334928,-0.630951,1039 days
1048474,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1560000,1.80,2.65,5,0.239226,0.203864,48 days
1048462,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1400000,0.40,1.30,6,0.325941,-0.517191,48 days
1048472,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1550000,1.65,2.50,9,0.244487,-0.045453,48 days
1048492,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1650000,4.00,5.20,243,0.193448,-0.131060,48 days
1048476,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1570000,1.95,2.85,1,0.234175,-1.756540,48 days
1048477,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1575000,2.00,2.95,206,0.231313,-0.156492,48 days
1048479,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1585000,2.20,3.20,10,0.226683,-0.784477,48 days
1048482,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1600000,2.55,3.50,512,0.218867,0.957245,48 days
1048487,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1625000,3.20,4.20,769,0.206032,1.104675,48 days
1048490,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1640000,3.60,4.80,20,0.198363,-0.214894,48 days
1048491,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1645000,3.80,5.00,100,0.195966,0.229691,48 days
1048497,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1675000,5.30,6.60,2224,0.182247,-0.452106,48 days
1048499,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1685000,5.90,7.30,1,0.177653,-1.541736,48 days
1048502,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1700000,7.10,8.60,20,0.171558,0.412612,48 days
1048504,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1710000,8.00,9.50,10,0.166999,-0.673401,48 days
1048512,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1750000,13.50,14.80,160,0.150663,-0.914771,48 days
1048506,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1720000,9.10,10.70,1,0.163221,1.787681,48 days
1048507,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1725000,9.70,11.30,105,0.161136,0.524437,48 days
1048516,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1770000,17.60,19.00,140,0.143339,-0.652314,48 days
1048517,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1775000,18.80,20.20,2033,0.141441,0.154484,48 days
1048522,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1800000,26.00,27.60,2,0.132015,-0.857694,48 days
1048523,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1805000,27.60,29.40,1,0.129929,1.703488,48 days
1048530,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1840000,43.70,45.60,1,0.118976,-0.016530,48 days
1048527,2014-02-11 00:00:00+00:00,2014-03-31 00:00:00+00:00,1825000,36.10,37.80,402,0.123562,-0.375774,48 days

In [96]:
df["C"] = np.nan
#df_ = df_.fillna(0)
df.loc[df['Exp_date']-df['St_date']]

TypeError: Index(...) must be called with a collection of some kind, 1048575 was passed